{% extends 'base.html' %}

{% block content %}
<style>
        .form-group{
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;    
        }
        .fileclass{
            border-style: none;
        }
        </style>
<div class='text-center'>
    <h1>질문</h1>
    {% if user == question.author %}
    <a href="{% url 'question_update' pk=question.pk %}">수정하기</a>
    <a href="{% url 'question_remove' pk=question.pk %}">삭제하기</a>
    {% endif %}
    <p> {{ question.title }} </p>
    <!--<p> {{ question.author }} </p>-->
    <p> {{ question_nickname }}</p>
    {% for image in images %}
        <img src="{{ image.image.url }}" >
    {% endfor %}
    <p> {{ question.content|linebreaks}} </p>
    <hr>
</div>


{% if user.is_authenticated %}
<div>
    <form method="POST" class="text-center" enctype="multipart/form-data"> 
        <h1>새 답변 작성</h1> 
        {% csrf_token %}
        <div class='form-group'>
        {{ form.label }}
        {{form}}
        {% for img in image_formset %}
        {{ img.label }}
        {{ img }}<br>
        {% endfor %}
    </div>
        <button type="submit">올리기</button>
    </form>
</div>
{% else %}
<div class = 'text-center'>
    <h1>답변을 위해서는 로그인이 필요합니다!</h1>
</div>
{% endif %}
<hr>
<div class='text-center'>
    <h1>답변 리스트</h1>
    <div>
        {% for answer, profile in answers_profile %}
            <div>
                <!--
                {% if answer.image %}
                    <img src="{{ answer.image.url}}" height=200>
                {% endif %}
                -->
                <p> {{ answer.content }} </p>
                <p> {{ answer.author }} </p>
                <p>{{ profile.nickname }}</p>
                {% if user == answer.author %}
                    <a href="{% url 'answer_update' question.pk answer.pk %}">수정하기</a>
                {% endif %}
                {% if user == answer.author %}
                    <a href="{% url 'answer_remove' question.pk answer.pk %}">삭제하기</a>
                {% endif %}
                
                {% if user == question.author and question.selected == False %}
                    <a href="{% url 'select_question' question.pk answer.pk %}">채택하기</a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}