{% extends 'base.html' %}

{% block content %}
<head> <script src="https://use.fontawesome.com/releases/v5.9.0/js/all.js"></script></head>
<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.13.0/dojo/dojo.js"></script>

<div class="total">
    <div class="left">
        <div class="list-group">
            <ul id = "menu">
                
                <li><a href="{% url 'cate_search' 'all' %}" class="list-group-item list-group-item-action text-light"><i class="fas fa-border-none fa-2x"></i> &nbsp;모두보기</a></li>
                <li><a href="{% url 'cate_search' 'economy' %}" class="list-group-item list-group-item-action text-light"><i class="fas fa-chart-area fa-2x"></i>&nbsp;경제학</a></li>
                <li><a href="{% url 'cate_search' 'programming' %}" class="list-group-item list-group-item-action text-light"><i class="far fa-file-code fa-2x"></i> &nbsp; 프로그래밍</a></li>
                <li><a href="{% url 'cate_search' 'math' %}" class="list-group-item list-group-item-action text-light"><i class="fas fa-divide fa-2x"></i></i> &nbsp;수학</a></li>
                <li><a href="{% url 'cate_search' 'management' %}" class="list-group-item list-group-item-action text-light"><i class="fas fa-calculator fa-2x"></i> &nbsp;경영학</a></li>
                <li><a href="{% url 'cate_search' 'cpa' %}" class="list-group-item list-group-item-action text-light"><i class="fas fa-book fa-2x"></i> &nbsp;CPA/고시</a></li>
                <li><a href="{% url 'cate_search' 'etc' %}" class="list-group-item list-group-item-action text-light"><i class="fas fa-sticky-note fa-2x"></i> &nbsp;기타</a></li>
            </ul>    
        </div>
    </div>
    <div class="middle">
        <div class='text-center'>
        <h1><b>채택된 질문 리스트</b></h1>
        <div style='text-align: left'>
                <button onclick="location.href={% url 'create_question' %} " type="button" class="btn btn-dark">새 질문 작성</button>
        </div>
        {% for question in questions %}
        <div>
            <p><b> {{ question.title }}</b> </p>
            <p><b> {{ question.author }}</b> </p>
            <p>{{ question.content}}</p>
            <p> {{ question.body|linebreaks }} </p>
            <div style='text-align: left'>
                    <button onclick="setTimeout(function(){location.href='{% url 'detail_question' question.pk %}';},500);" type="button" class="btn btn-primary">질문보기</button> 
        
        </div>
            <hr>
        </div>
        {% endfor %}
    </div>
    </div>
    <div class="right">
        <div style='text-align: center'>
        <h1 style="color: aliceblue;">
            Qrating
        </h1>
    </div>
    </div>
</div>

    


{% endblock %}    
 

