<!doctype html>
<html lang="en">

<head></head>

    <body class="TextCenter">
        <form class="FormSignin">
            <label for="inputEmail" class="SrOnly">Email address</label>
            <input type="email" id="inputEmail" class="FormControl" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="SrOnly">Password</label>
            <input type="password" id="inputPassword" class="FormControl" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </body>
</html>

