{% extends 'home.html' %}

{% block content %}
<style>
.text-center{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;    
}
</style>
{% block home %}
{% if cate %}
{{ block.super }}
{% endif %}
<div class = 'text-center'>
    {% if cate %}
    <h1><b>{{ cate }}</b></h1>
    {% else %}
    <h2>검색된 질문 리스트</h2>
    {% endif %}
    {% for question in questions %}
        <div>
            <p> {{ question.title}} </p>
            <p> {{ question.author}} </p>
            <p> {{ question.body|linebreaks}} </p>
            <div style='text-align: left'>
                    <button onclick="setTimeout(function(){location.href='{% url 'detail_question' question.pk %}';},0);" type="button" class="btn btn-primary">질문보기</button> 
        
        </div>
            <hr>
        </div>
    {% endfor %}
</div>
{% endblock %}
{% endblock %}
