button.navbar-toggler:focus{
    outline: none;
}

.navbar-dark .navbar-toggler{
    border: none;
}

.total{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.left{
    background-color : purple;
    width : 150px;
    height : 700px;
}
.right{
    background-color : pink;
    width : 200px;
    height : 700px;
}
.middle{
    background-color : yellow;
    height : 700px;
    width : 500px;

}