button.navbar-toggler:focus{
    outline: none;
}

.navbar-dark .navbar-toggler{
    border: none;
}

.total{
    display: flex;
    justify-content: center;
}

.left{
    background-color : gray;
    width : 230px;
    height : 700px;
    margin-right: 20px;
    

}
.right{
    background-color : gray;
    width : 300px;
    height : 700px;
    
}
.middle{
    background-color : white;
    height : 700px;
    width : 700px;
    margin-right: 20px;
    margin-left: 20px;
}
#menu li{
    list-style: none;
    background-color:none;
}
#menu{
    cursor: pointer;
}
#menu li a{
    background-color: #df4040;
    color: white;
}