button.navbar-toggler:focus{
    outline: none;
}

.navbar-dark .navbar-toggler{
    border: none;
}

.total{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.left{
    background-color : white;
    width : 230px;
    height : 700px;
    margin-right: 20px;
    padding-right: 10px;
    margin-top: 40px;
    
}
.right{
    background-color : white;
    width : 300px;
    height : 700px;
    margin-top: 40px;
    
}
.middle{
    background-color : #FAFAFA;
    height : 1000px;
    width : 700px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
}

#menu li{
    list-style: none;
    background-color:none;
}
#menu{
    cursor: pointer;
}
#menu li a{
    background-color: #df4040;
    color: white;
    margin-bottom: 5px;
}

.header.sticky-top{
    position: fixed;
    top: 0px;
  }

